@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    
}
body{
   background-repeat: no-repeat;
   background-size: 100%;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    background: linear-gradient(300deg, white 0, #919191 50%, black 100%);
    background-size: 400% 100%;
    animation: efeito 5s ease-in infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
.lista{
    background-color: rgba(153, 153, 153, 0);
    backdrop-filter: blur( 135px );
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.548);
    width: 800px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 25px;
}
.taskList{
    list-style: none;
}
.task{
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #2e2e2e;
}
.check{
  padding-left: 15px;
}

.check i{
    color: green;
    background-color: rgb(117, 252, 123);
    border-radius: 5rem;
    cursor: pointer;

}

.lixeira i{
    font-size: 1.1rem;
    background-color: rgb(236, 122, 122);
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: rgb(128, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.lixeira{
padding-right: 15px;


}
.inputTask{
    border: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    margin-left: 20%;
    
}
.buttonAdd{
    border: none;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(91, 212, 101);
    color: #0f0f0f;
    transition: 0.7s;
   
}
.buttonAdd:hover{
    background-color: rgb(5, 66, 10);
    
}

.done{
    background-color: rgb(117, 252, 123);
    color: rgba(128, 128, 128, 0.822);
}

@keyframes efeito {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 100%;
    }
}